@font-face {
    font-family: "Nunito sans";
    src: url('../fonts/NunitoSans-Regular.ttf');
}

@font-face {
    font-family: "Yeseva one";
    src: url(../fonts/YesevaOne-Regular.ttf);
}



ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset */

body {
    margin: 0;
    font-family: Nunito Sans, Arial, sans-serif;s
    box-sizing: border-box;
}

.container {
    max-width: 1256px;
    margin: 0 auto;
    
}

.title {
    margin: 0;
    font-family: Yeseva One, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    /* font-size: 40px;
    line-height: 53px; */
    text-transform: uppercase;
    color: #FFFFFF;
}

.subtitle {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
}

.button {
    background: #E3B873;
    font-family: Nunito Sans, Arial, sans-serif;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 20px;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    width: 207px;
    height: 51px;
    cursor: pointer;
}

.input {
    border: none;
    padding: 8px 0 8px 0;
    background-color: transparent;
    outline: transparent;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3)
}

.label {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
}

.checkbox {
    width: 18px;
    height: 18px;
    border-radius: 1px;
    position: relative;
    background-color: #E3B873;
}

.checkbox::after {
    content: "I agree to the processing of personal data";
    color:black;
    display: inline-block;
    width: 259px;
    position: absolute;
    left: 26px;
    top: 3px;
}



.button-request {
    width: 161px;
    height: 37px;
    padding: 1px 33px;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;

}

.logo {
    color: #E3B873;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

.header {
    background-color: black;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    font-style: normal;
    text-transform: uppercase;
}

.header-navigation {
    list-style: none;
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
}

.header-navigation__item a:hover {
    color: #E3B873;
    
}

.header-navigation__item {
    margin-right: 47px;
}

.telefon {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}


.header-navigation__item a {
    text-decoration: none;
    color: white;
    
}

.hero {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-container {
    position: relative;
    z-index: 1;
}

.color {
    color: #E3B873;

}

.hero-container .button:hover {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #ffffff00;
}

.hero-title {
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;

}

.white-text {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

/* End of step 1 */

.projects { 
    background-color: black; 
    z-index: -1;
    margin-top: -16px;
    
}

.main {
    width: 1205px;
    height: 524px; 
}

.aside {
    width: 487px;
}

.projects-navigation {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   padding-top: 107px;  
}

.projects-navigation__item {
   font-family: Yeseva One;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 19px;
   text-transform: uppercase;
   color: rgba(255, 255, 255, 0.3);
   position: relative;
   left: -143px;
   padding-left: 60px;
}

.projects-navigation__item a {
    text-decoration: none; 
    color: rgba(255, 255, 255, 0.3);  
}

.projects-navigation__item a:hover {
    color:  #E3B873;
    text-decoration: underline 2px solid currentColor;
}

.projects-aside {
    display: flexbox;
    flex-direction: column;
    width: 487px;
    
}

.projects-aside__subtitle {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    text-align: left;
}

.projects-aside__paragraph {
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    text-align: left;
    margin: 34px 0 42px 0;
}

.projects-aside__city {
    width: 476px;
    height: 201px;
}

.projects-aside__city__paragraph {
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: left;
}

.projects-aside__city__subtitle__table {
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: left;
    color: #E3B873;
}

.projects-aside__city__paragraph__table {
    font-size: 13px;
    line-height: 21px;
    text-align: left;
    color: #FFFFFF;  
    padding: 0 auto; 
}

.projects-image {
    width: 679px;
    height: 482px;
    position: relative;
    left: 492px;
    top: -485px;
}

.project-aside__slider {
    padding-top: 86px;
    width: 199px;
    display: flex;
    justify-content: space-between;
}



.control-title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.control-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.control-logo hr {
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 5px;

}

.control-logo img{
    width: 33px;
    height: 28px;
    margin-top: -4px;
}

.control-workman__image {
    width: 817px;
    height: 434px;
    position: relative;
    left: 220px;
    padding-top: 31px;
}

.control-hr {
    border-radius: 5px;
    margin-top: 62.5px;
}

.control {
    margin-top: -345px;
    z-index: 1;
}

.control-paragraph {
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    margin-top: 34px;
}

.control-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 769px;
    margin-left: 270px;
    margin-top: 91px;
}

.control-form .label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    color: rgba(54, 54, 54, 0.5);
    margin-bottom: 39px;
}

.control-form .input {
    width: 231px;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.control-form__checkbox {
    left: 518px;
    margin-bottom: 147.85px;
}

.repair-title {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    margin-top: 75px;
}

.repair-logo img {
    padding-left: 610px;
    margin-top: 13px;
}

.repair-logo {
    position: relative;
}

.repair-logo::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 1.54px;
    background-color: #E3B873;
    top: 50%;
    left: 570px;
}


.repair-logo::after {
    content: '';
    position: absolute;
    width: 32px;
    height: 1.54px;
    background-color: #E3B873;
    top: 50%;
    right: 576px;
}

/* .repair-logo img::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 1.54px;
    background-color: #E3B873;
    /* top: 50%; */
}
/* 
.repair-logo__img::after {
    content: '';
    position: absolute;
    width: 32px;
    height: 1.54px;
    background-color: #E3B873;  */
    /* /* top: 50%; */
} 

/* почему не работают псевдоэлементы? */


.repair-types img {
    width: 392px;
    height: 421px;
    position: absolute;
}

.repair-types {
    margin-top: -30px;
}


.title-list {
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    padding-left: 35px;
    margin-bottom: 0px;
    padding-top: 25px;
    
}

.subtitle-list {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
   
}

.container-repair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 67px;
}

.redecorating-list {
    position: relative;
    margin-top: -170px;
    width: 330px;
    height: 286px;
    left: 31px;
    background: white;
    z-index: 1;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);

}

.overhaul-list {
    position: relative;
    margin-top: -170px;
    width: 330px;
    height: 286px;
    left: 31px;
    background: white;
    z-index: 1;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.designer-list {
    position: relative;
    margin-top: -170px;
    width: 330px;
    height: 286px;
    left: 31px;
    background: white;
    z-index: 1;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.repair-types__price {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF; 
    width: 228px;
    height: 54px;
    text-align: center;
    padding-top: 20px;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

#price-fix {
    margin-top: -20px;
    position: relative;
    z-index: 1;
    width: 228px;
    height: 54px;
    margin-left: 31px;
    margin-top: -20px;

}

/* End of step 2 */


.request {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1256px;
    height: 572px;
    margin-top: 240px;
}

.request-list {
    width: 527px;
    height: 555px;
    background-image: url(../images/requestBackground.png);
    background-size: cover; 
    position: relative; 
    padding-left: 222px;
    padding-bottom: 145px;
    left: -75px;
    top: -132px;

}

/* как сдвинуть backgroung image? */

.metering,
.consulation, .estimate {
    margin-top: 104px;
}

.request-list__list {
    position: relative;
    padding-top: 115px;
}

.request-list__list li {
    position: relative;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #363636;

}

.specialist::before {
    content: "01";
    position: absolute;
    width: 41.76px;
    height: 41.76px;
    background-color: #E3B873;
    border-radius: 30px;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    top: -12px;
    left: -71px;
    z-index: 1;
    text-align: center;
    font-family: "Yeseva One", 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
}

.metering::before {
    content: "02";
    position: absolute;
    width: 41.76px;
    height: 41.76px;
    background-color: #E3B873;
    border-radius: 30px;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    top: -12px;
    left: -71px;
    z-index: 1;
    text-align: center;
    font-family: "Yeseva One", 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
}

.consulation::before  {
    content: "03";
    position: absolute;
    width: 41.76px;
    height: 41.76px;
    background-color: #E3B873;
    border-radius: 30px;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    top: -12px;
    left: -71px;
    z-index: 1;
    text-align: center;
    font-family: "Yeseva One", 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
}

.estimate::before  {
    content: "04";
    position: absolute;
    width: 41.76px;
    height: 41.76px;
    background-color: #E3B873;
    border-radius: 30px;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    top: -12px;
    left: -71px;
    z-index: 1;
    text-align: center;
    font-family: "Yeseva One", 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
}

.request-form {
    width: 506px;
    height: 509px;
    background-color: black;
    /* margin-top: 106px;
    padding-top: 28px;
    padding-bottom: 27px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
   
}

.request-form__subtitle {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF; 
    margin-top: 28px; 
}

.request-form .label {
    display: flex;
    flex-direction: column;
    padding: 0;
    color: rgba(255, 255, 255, 0.5);
}

.request-form .input {
    width: 408px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    position: relative;
    font-size: 14px;
    line-height: 23px;
    color: #ffffff;
}
.request-form .checkbox{
    left: -195px;
    margin-top: -7px;
}

.request-form .checkbox::after {
    color: #ffffff;
}
.request-form__button {
    margin-left: 244px;
    margin-bottom: 27px;
}

.request-logo {
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    position: relative;
    padding-left: 800px;
    margin-top: -26px;
}

.request-logo::before {
    content: url(../images/request.svg);
    position: absolute;
    width: 72px;
    height: 72px;
    background-color: #E3B873;
    border-radius: 45px;
    z-index: 1;
    top: -9px;
    right: 470px;
}

/* Как изменить положение изображениz в псевдоклассе? */

.realize {
    background-image: url(../images/realizeBackground.png);
    background-size: cover;
    position: relative;
    margin-top: 254px;
    display: flex;
    flex-direction: row;
}

.realize-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
}

.realize-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
}

.realize-list {
    margin: 137.37px 77px 97.53px 99px;
    width: 411px;
}

.realize-list__title {
    display: inline-block;
    width: 411px;
    margin-bottom: 47px;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
}

.realize-list__list {
    padding-left: 0px;
}
.realize-list__list li {
    font-size: 20px;
    line-height: 38px;
    color: white;
    padding-bottom: 11px;
}

.realize-list__list li:hover {
    color:  #E3B873;
    text-decoration: underline;
    text-decoration-style: solid 0.66px #E3B873;
    text-underline-offset: 1.17px;
}

.realize-images-block1
.realize-images-block2 {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.realize-images-block1 {
    margin-top: -41px;
    padding-right: 43px;
   
}

.realize-images-block1 img {
    padding-bottom: 39px;
}

.realize-images-block2 {
    margin-top: -112px;
    padding-right: 102px;
}

.realize-images-block2 img {
    padding-bottom: 37px;
}

/* Как настроить margin bottom у блоков с изображениями? */

 .clients {
    padding-right: 101px;
    text-align: center;
    margin-bottom: -66px;
} 


.clients-container {
    padding-left: 101px;
    
} 

.clients-title {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    margin-top: 110px;

}

.clients-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 27px;
}

.clients-logo hr {
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 5px;
    margin: auto 7px;
    height: 0px;
}

.clients-subtitle {
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
}

.clients-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 39px;
    text-align: start;
    padding-bottom: 398.32px;
    background-image: url(../images/clientsBackground1.png);
    display: cover;
}

.clients-content__first__client,
.clients-content__second__client,
.clients-content__third__client {
    width: 376px;
    padding-top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.client-title {
    font-size: 18px;
    line-height: 23px;
    color: #181818;
    padding-left: 119px;
    position: relative;
    padding: 41px 74px 39px 119px;
}

.subtitle-client {
    font-size: 13px;
    line-height: 23px;
    color: #959595;
    display: inline-block;
    width: 376px; 
    padding-left: 20px;
    margin-right: 32px;
}

.clients-content__first__client::before {
    content: "";
    position: absolute;
    background-image: url(../images/clients1.png);
    width: 76px;
    height: 76px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 24px;
}

.clients-content__second__client::before {
    content: "";
    position: absolute;
    background-image: url(../images/clients2.png);
    width: 76px;
    height: 76px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 24px;
}

.clients-content__third__client::before {
    content: "";
    position: absolute;
    background-image: url(../images/Client3.png);  
    width: 76px;
    height: 76px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 24px; 
}

.subtitle-client {
    display: inline-block;
    padding-left: 20px;
}

.clients-content__first__client__result,
.clients-content__second__client__result,
.clients-content__third__client__result {
    margin-top: 63px;
    width: 293.75px;
    height: 54px;
    background-color: #E3B873;
    
}

.clients-content__first__client__result .title,
.clients-content__second__client__result .title,
.clients-content__third__client__result .title {
    font-size: 17px;
    line-height: 24px;
    color: #ffffff;
    padding: 0;
}

.clients-content__first__client__result .meter,
.clients-content__second__client__result .meter,
.clients-content__third__client__result .meter {
    padding-right: 76.05px;
    position: relative;
    padding-left: 65.1px;
    margin-top: 17px;
    top: 14px;
}

.meter::before {
    content: url(../images/metr-logo.svg);
    position: absolute;
    top: -5px;
    left: 20px;
}

.meter::after {
    content: "";
    position: absolute;
    height: 54.03px;
    border: 0.75px solid #FFFFFF;
    top: -17px;
    left: 142px;
}

.clients-content__first__client__result .days,
.clients-content__second__client__result .days,
.clients-content__third__client__result .days {
    position: relative;
    top: 14px;
}

.days::before {
    content: url(../images/days-logo.svg);
    position: absolute;
    top: -5px;
    left: -39px;
}


/* .question-form {
    width: 883px;
    height: 445.32px;
    transform: translateY(-222.66px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #131313;
    z-index: 1;
}

.question-form h3 {
    margin-top: 34.4px;
    margin-bottom: 45.8px;
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
}

.question-form__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 232px;
}

.question-form__content .input {
    width: 231px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    position: relative;
    font-size: 14px;
    line-height: 23px;
    color: #ffffff;
    
}

.question-form__content .label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    color: rgba(255, 255, 255, 0.5);
}

.question-form__content__checkbox {
    align-self: flex-start;
   
}

.question-form__content__button {
    font-size: 13px;
    line-height: 27px;
    width: 200px;
    height: 51px;
} */




.location {
    background-image: url(../images/location-back.png);
    background-size: cover;
    position: relative;
}

.location-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}

.location-container {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    text-align: center;
}



.location-subtitle {
    margin-top: 274.67px;
    margin-bottom: 26px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
}

.location-map {
    margin-top: 43.29px;
    margin-bottom: 65.93px;
}


.footer {
background-color: black;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    font-style: normal;
    text-transform: uppercase;
}

.footer-navigation {
    list-style: none;
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
}

.footer-navigation__item {
    margin-right: 47px;
   
}

.footer-navigation__item a {
    text-decoration: none;
    color: white;
    
}

.footer-navigation__item a:hover {
    color: #E3B873;
    
}

